h1 {
    color: aqua;
    size: 30px;
    background-color: cadetblue;
}
            
h2 {
    /*background-color: bisque;*/
    font-size: 20px;
}
/*I want to comment about this color*/
a {
    color: red;
}
img {
    display: block;
    margin: 20px auto;
}
.group {
    background-color: lightgreen;
}
.group2 {
    background-color:cornsilk;
    height: 100px;
    overflow: scroll;
    /*position: absolute;
    top: 100px;
    left: 50px;*/
}
@media screen and (max-width: 480px){
    body {
        background-color: aquamarine;
    }
}
